@model IEnumerable<SocialNetwork.Models.Post>

@foreach (var item in Model)
{
    <div class="card-post">
        <div class="row">

            <div class="col-xs-9 col-sm-10 info-user">
               
               
            </div>
        </div>
        <div class="row">   
            <div class="col-sm-8 col-sm-offset-2 data-post">

                <p>@item.Description</p>


                @{if (item.OtherFilePath != null)
                    {
                        <i class="fa fa-download" aria-hidden="true"></i>
                        @Html.ActionLink("Download", "Download", new { location = item.OtherFilePath })
                    }
                }

                <hr />
                <p><i>@item.DatePosted</i></p>

            </div>
        </div>
    </div>
}


